.gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore
/Makefile.git export-ignore
/img/tuna*.png export-ignore
/img/*.icns export-ignore
/img/*.ico export-ignore
/modgui export-ignore
